@use "../helpers/variables" as var;
@use "bulma/sass/utilities/mixins";

@use "bulma/sass/elements/box" with (
  $box-shadow: 0,
);

.custom-box {
  border: 1px solid var.$text;
}

@include mixins.touch {
  .custom-box {
    padding: 1rem;
  }
}