.custom-tooltip {
  background-color: gray;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
}

.custom-tooltip__label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}