@use "typography";
@use "../helpers/variables" as var;


@use "bulma/sass/utilities/derived-variables" with (
  // Scheme colors
  $primary: var.$primary,
  $link: var.$link,
  $info: var.$info,
  $success: var.$success,
  $warning: var.$warning,
  $danger: var.$danger,
  // Typography
  $family-primary: typography.$family-primary,
);